.managing {
    background-color: #e0a458;
    border-color: #e0a458;
}

input,
select {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #9b4fca;
    border: 0.1rem solid #9b4fca;
    margin: 0rem;
}

input[type="submit"]:hover {
    background-color: #606c76;
    border: 0.1rem solid #606c76;
    cursor: pointer;
}

input[type="text"],
select {
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

h1 {
    font-weight: 300;
    margin-top: 0;
}

label {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

a {
    color: #9b4dca;
    text-decoration: none;
}
table.records td:last-child {
    text-align: right;
}
table {
    width: 100%;
    padding-bottom: 30px;
}
.button {
    background-color: #9b4dca;
}

.field-list {
    width: 50%;
    padding: 30px;
}
.row {
    width: 100%;
    display: flex;
}

table,
th,
td {
    text-align: left;
}
th,
td {
    padding-left: 30px;
}
td,
th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 0.6rem 1.5rem;
    text-align: left;
}
