.exercise-label {
    margin: auto;
    margin-left: 2rem;
}

.managing {
    background-color: #e0a458;
    border-color: #e0a458;
}

header.heading .exercise-label {
    margin: auto;
    margin-left: 2rem;
}

input {
    font-family: inherit;
    font-size: 100%;
}

input[type="submit"] {
    background-color: #9b4fca;
    border: 0.1rem solid #9b4fca;
    margin: 0rem;
}

input[type="submit"]:hover {
    background-color: #606c76;
    border: 0.1rem solid #606c76;
    cursor: pointer;
}

input[type="text"] {
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

h1 {
    font-weight: 300;
    margin-top: 0;
}

label {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
