header {
    display: flex;
    justify-content: center;
    background-color: #9b4dca;
    text-align: center;
    letter-spacing: 1.1rem;
    color: #ffffff;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
}

.button:hover {
    background-color: #606c76;
}

.answering {
    background-color: #9b4dca;
}

.managing {
    background-color: #e0a458;
}

.results {
    background-color: #419d78;
}
