header {
    background-color: #419d78;
}

.row {
    display: flex;
    padding: 0;
    width: 100%;
}

.column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    padding: 0 1rem;
}

.column:first-child {
    padding-left: 0;
}

.column:last-child {
    padding-right: 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

td,
th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
    text-align: left;
}

a {
    color: #9b4dca;
    text-decoration: none;
}

table.records td:last-child {
    text-align: right;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}
