body {
    margin: 0;
}

header {
    background-color: #9b4dca;
}

.heading {
    height: 5rem;
    color: white;
    display: block;
    max-width: 100%;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 80%;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}
