body {
    margin: 0;
    color: #606c76;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.01em;
}

header {
    display: flex;
    justify-content: center;
    background-color: #9b4dca;
}

.heading {
    color: white;
    display: block;
    max-width: 100%;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.container {
    margin: 0 auto;
    max-width: 70%;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

.button {
    border-radius: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 1rem;
}

header.heading section {
    display: flex;
}

.header-img {
    max-width: 100%;
    border-style: none;
    height: 4rem;
}
